@import url('https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@300&display=swap');

.xp {
    font-size: 80px;
    font-family: 'Source Sans Pro';
}

.xp span {
    font-size: 40px;
    font-family: 'Source Sans Pro';
}